<div class="page-content">
	<div class="row">
	  <div class="col-md-2">
	  	<div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
          	{{#each model as |task|}}
          	  <li class="">
          	  	{{#link-to "tasks.task.items" task}}
            	  	<i class="glyphicon glyphicon-star"></i>
            	  	{{task.name}}
            	  {{/link-to}}
          	  </li>
          	{{/each}}
          	<li>
            	<div class="input-group">
            		{{input value=name type="text" class="form-control" placeholder="Add new task..."}}
					      <span class="input-group-btn">
					        <button{{action 'createTask'}} class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i></button>
					      </span>
					    </div>
					  </li>
        </ul>
     </div>
</div>
<div class="col-md-10">
	<div class="row">
		<div class="col-md-8">
			{{outlet}}
		</div>
  		<div class="col-md-4">
  			<div class="row">
  				<div class="col-md-12">
  					<div class="content-box-header">
	  					<div class="panel-title">Description</div>
								<div class="panel-options">
									<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
									<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
		  			</div>
		  			<div class="content-box-large box-with-header">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iusto sit provident voluptatibus tempora suscipit quaerat quasi aliquid esse hic vel quo nam optio dolorum quia facere maxime fugit, unde.</p>
							<p>{{outlet 'taskItemBody'}}</p>
						</div>
  				</div>

					<div class="col-md-12">
  					<div class="content-box-header">
	  					<div class="panel-title">Comment</div>
								<div class="panel-options">
									<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
									<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
		  			</div>
		  				<div class="content-box-large box-with-header">
								{{outlet "commentsTemplate"}}
							<div class="leave-comment">
								<textarea name="" id="" rows="5" class="form-control"></textarea>
							</div>
						</div>
  				</div>


  			</div>
  		</div>
  	</div>
	</div>
</div>
</div>
